{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    </style>
    <title>Home</title>
</head>

<header>
    <a href="{% url 'home:home' %}">
        <img class="logo" src="{% static 'img/logo2.png' %}" alt="">
    </a>
    <div class="frase">
        <h2>“Ama la vida. Defiéndela. Revísate. Lucha por cada día. Vale la pena”.- Mónica Monreal</h2>
    </div>

    <div class="direcciones">
        <a href="{% url 'home:home' %}">
            Home
        </a>
        <a href="{% url 'tejidos:tejidos' %}">
            Tejidos
        </a>
        <a href="{% url 'grafo:grafo' %}">
            Grafo
        </a>
        <a href="{% url 'contacto:contacto' %}">
            Contacto
        </a>
        <a href="{% url 'about:about' %}">
            About
        </a>
    </div>
</header>



    {% block contenido %}

    {% endblock contenido %}



</html>