{% extends "header.html" %}

{% block contenido %}

   


<form action="" method="get">

    <p>Selecciona una distancia:</p>

    <div>
        <input type="radio" id="Euclideana" name="distancia" value="Euclideana" checked>
        <label for="huey">Euclideana</label>

        <input type="radio" id="Mahalanobis" name="distancia" value="Mahalanobis">
        <label for="dewey">Mahalanobis</label>

        <input type="radio" id="Manhattan" name="distancia" value="Manhattan">
        <label for="louie">Manhattan</label>
    </div>
    <button type="submit">Enviar</button>
</form>


{% endblock contenido %}