*{padding: 0; margin: 0; box-sizing: border-box;}


header {
    display: flex;
    justify-content: space-around;
	background-color: white;
	padding: 0px 30px;
	padding-top: 30px;
}


.direcciones{
    font-size: 180%;
}

.direcciones a {
    text-decoration: none ;
    padding: 0px 10px;
    color: #e4007c;
}

.botonPersonalizado{
	text-decoration: none ;
    padding: 0px 10px;
    color: #e4007c;
}

h2 {
	font-family: 'Lobster', cursive;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}


.button {
	border: none;
	outline: none;
	padding: 20px 40px;
	color: #6A1B9A;
	background: #fff;
	font-size: 20px;
	text-decoration: none;
	display: block;
	margin: auto;
	margin-bottom: 30px;
	font-family: 'Anton', sans-serif;
}

button:hover{
	cursor: pointer;
}

table {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    width: 500px;
    border-radius: 20px;
}

thead tr:first-child {
    background: #fb9cbb;
    color: white;
    border: none;
	font-size: 25px;
}

.tablaScroll{
	overflow: scroll;
    width: 90%;
    height: 700px;
    margin: 50px auto;
}

body::-webkit-scrollbar {
	width: 20px; 
	background: #febed1;  
	 
}

body {
	scrollbar-width: thin;
  	scrollbar-color: #fb9cbb #febed1;
}

*::-webkit-scrollbar {
	width: 12px;
  }

*::-webkit-scrollbar-thumb, .tablaScroll::-webkit-scrollbar-thumb{
	background-color: #fb9cbb;
	border-radius: 20px;
	border: 3px solid #febed1;
  }

.principal{
	text-align: center;
	padding: 50px;
	width: 65%;
	margin: 30px auto;
	font-family: 'Lobster', cursive;
	font-size: 60px;
}

.imagenes{
    display: flex;
    justify-content: center;
	height: 600px;
	padding-top: 20px;
}

.imagenes img{
    border-radius: 20px;
}

.mensaje{
    text-align: center;
    border: 5px white solid;
    width: 350px;
    margin: auto;
    font-size: 40px;
    transform: translate(0px, -65px);
    background-color: white;
    border-radius: 15px;
}

.contenedor{
	background-color: white;
	height: 750px;
	
}

.centrar thead tr th { 
	position: sticky;
	top: 0;
	z-index: 10;
	background: #fb9cbb;
	padding: 0px;
	margin: 0px;
	transform: translate(0px, -3px);
}

.fondoNube {
    background: white url("../img/fondo.jpeg");
	background-size: cover;
}

.fondoRosa {
    background: white url("../img/fondo2.jpeg");
	background-size: cover;
}

.logo{
	height: 150px;
	width: 150px;
}

.contenido{
	padding: 30px;
	background-color: white;
}

.tarjetaInformativa{
	display: flex;
	padding: 50px;
	width: 65%;
	height: 30%;
	margin: auto;	
}

.tarjetaInformativa img{
	height: 80%;
	width: 65%;
}

.contenido p {
	text-align: justify;
}

.frase h2{
    width: 410px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    color: #e4007c;
}

p{
	font-size: 25px;
}

.asosiacion{
	background-color: white;
	padding: 30px 10px;
	margin: 50px;
	width: 25%;
	border-radius: 40px;
}

.asosiacion img{
	width: 300px;
	height: 150px;
}

.referencias{
	display: flex;
	justify-content: space-around;
}

.asosiacion div{
	text-align: center;
}

.referencias a{
	text-decoration: none;
}

.suscribirse{
	 padding: 30px;
	 background-color: #CE93D8;
	 margin: 30px auto;
	 width: 30%;
	 border-radius: 30px;
	 text-align: center;
}

form *{
	padding: 10px;
}