{% extends "header.html" %}

{% block contenido %}

<body class="fondoRosa">
    <div class="tablaScroll" style="border: 10px solid #fb9cbb;">
        <table class="centrar">
            <tbody>
                {% for elemento in distancias %}
                <tr>
                    {% for distancia in elemento %}
                        <th>{{distancia}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

{% endblock contenido %}