{% extends "header.html" %}

{% block contenido %}
{% load static %}

<body class="fondoRosa">
    <div class="tablaScroll" style="border: 10px solid #fb9cbb; width: 535px;">
        <table class="centrar">
            <thead>
                <tr>
                    <th>Vo</th>
                    <th>Vf</th>
                    <th>Distancia</th>
                    <th>Conectado</th>
                </tr>
            </thead>
            <tbody>
                {% for umbral in umbrales %}
                <tr>
                    <th>{{umbral.0}}</td>
                    <th>{{umbral.1}}</td>
                    <th>{{umbral.2}}</td>
                    <th>{{umbral.3}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

{% endblock contenido %}