{% extends "header.html" %}

{% block contenido %}
{% load static %}

<body class="fondoRosa">
    <div class="tablaScroll"  style="border: 10px solid #fb9cbb; width: 535px;">
        <table class="centrar">
            <thead>
                <tr>
                    <th>Clave</th>
                    <th>Color</th>
                    <th>Temperatura</th>
                    <th>Inflamación</th>
                </tr>
            </thead>
            <tbody>
                {% for elemento in lista %}
                <tr>
                    <th>{{elemento.pk}}</td>
                    <th>{{elemento.color}}</td>
                    <th>{{elemento.temperatura}}</td>
                    <th>{{elemento.inflammation}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
</body>

{% endblock contenido %}